body {
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
    color:#ffffff;
    background-color: #360029;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #700054;
    align-items: center;
    padding: 10px 32px;
}

.links a {
    text-decoration: none;
    color:#ffffff;
}

.logo {
    height: 80px;
}

.links {
    display:flex;
    gap: 24px;
    color:#ffffff;
    font-size: 24px;
}

.content-1, .content-2, .content-3, .content-4 {
    display: flex;
    justify-content: center;
    flex:1;
    padding: 100px 56px;
}

.content-1 {
    gap: 48px;
    background-color: #360029;
}

.left {
    display:flex;
    flex-direction: column;
}

.title-1 {
    width:600px;
    font-size: 48px;
}

.subtext-1 {
    width:600px;
    font-size: 24px;
    flex:1;
}

.button-1 {
    background: #fff562;
    border: 1px solid #faee47;
    border-radius: 10px;
    color: #360029;
    padding: 16px;
    font-size: 20px;
    align-self:baseline;
}

.content-1-img {
    height: auto;
    width: 600px;
}

.content-2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #700054;
}

.title-2 {
    font-size: 48px;
    font-style:italic;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 110px;
    margin: 32px;
}

.tile {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;
}

.tile img {
    width: 150px;
    height:auto;
    margin: 32px;
}

.subtext-2 {
    text-align: center;
    font-size: 20px;
}

.content-3 {
    background-color: #360029;
    align-items: center;
    gap: 48px;
}

.content-3-img {
    width:auto;
    height:400px;
}

.history {
    font-size: 20px;
    width: 800px;
}

.history .title-3 {
    font-size: 48px;
    margin:0;
}

.content-4 {
    background-color: #700054; 
    align-items: center;
}

.box {
    background: #fff562;
    border: 1px solid #faee47;
    border-radius: 10px;
    width: 1248px;
    padding:56px;
    color: #360029;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title-4 {
    color: #360029;
    font-size: 24px;
    font-weight: 700;
}

.subtext-4 {
    color: #360029;
    font-size: 24px;
}

.button-2 {
    background: #360029;
    border: 1px solid #faee47;
    border-radius: 10px;
    color: #fff562;
    padding: 16px;
    font-size: 20px;
    align-self:baseline;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #360029;
}

